<div class="menu">
  <div class="preschedule">
    <h2>Schedule</h2>
    <ul>
      <li class="Today">Today</li>
      <li class="Tomorrow">Tomorrow</li>
      <li class="day"></li>
    </ul>
    <button>Add Plan</button>
  </div>
  <div class="reminders">
    <h2>Reminders</h2>
    <ul>
      <li>Reminder</li>
    </ul>
    <button>Add reminder</button>
  </div>
</div>
