<div class="routine">
    <h2>YOUR ROUTINE</h2>
    <ul class="routine-items">
        <li>
            <input class="checkbox" type="checkbox" name="routine-checkbox">
            <h3>Meditation</h3>
            <button class="routine-close">&#1006</button>
        </li>
    </ul>
    <form action="/" method="post">
        <input type="text" name="routineTask" placeholder="Add routine" required>
        <button type="submit" name="routineSubmit">+</button>
      </form>
</div>
